{{- $short := site.Config.Services.Disqus.Shortname -}}

{{- if not $short -}}
  <!-- Disqus shortname not set. Add it under [services.disqus]. -->
{{- else -}}
  <div id="disqus_thread"></div>

  <script>
    var disqus_config = function () {
      this.page.url = "{{ .Permalink }}";
      this.page.identifier = "{{ .RelPermalink }}";
    };

    (function() {
      var d = document, s = d.createElement('script');
      s.src = "https://{{ $short }}.disqus.com/embed.js";
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>

  <noscript>Please enable JavaScript to view the comments powered by Disqus.</noscript>

  <script>
    window.addEventListener('onColorSchemeChange', () => {
      if (typeof DISQUS === 'object') {
        DISQUS.reset({ reload: true });
      }
    });
  </script>
{{- end -}}
